<div class="flex items-center w-full">
  <div class="flex flex-col md:w-[440px] w-full m-auto">
    <h4 class="modal-title">Залишити відгук</h4>

    <form
      [formGroup]="formGroup"
      *ngIf="authService.getUserIdFromStorage() && !isSendetReview"
    >
      <div class="flex w-full items-center justify-center">
        <h5 class="mr-3 md:mr-1">Оцініть магазин</h5>

        <ng-container *ngFor="let i of [1, 2, 3, 4, 5]">
          <div (click)="setRating(i)" [class.opacity-50]="i > getRating()">
            <div [innerHTML]="safeSvgCodes['rug']" class="rug"></div>
          </div>
        </ng-container>
      </div>

      <div class="flex flex-col">
        <div class="flex justify-center my-4">
          <div class="flex w-full">
            <app-input
              class="w-full"
              inputType="text"
              label="Ім‘я"
              inputId="username"
              paceholder="Марія"
              formControlName="username"
              [customErrorMessages]="errorMessages"
            />
          </div>
        </div>

        <div class="flex justify-center my-4">
          <div class="flex w-full">
            <app-input
              class="w-full"
              inputType="email"
              label="Email"
              inputId="email"
              paceholder="maria@email.com"
              formControlName="email"
              [customErrorMessages]="errorMessages"
            />
          </div>
        </div>

        <div class="flex justify-center my-4 flex-col mb-3">
          <div class="flex w-full">
            <app-input
              class="w-full"
              inputType="textarea"
              rows="5"
              label="Ваш відгук:"
              inputId="review"
              paceholder="Загальні враження від придбаного товару та роботи магазину"
              formControlName="review"
              [customErrorMessages]="errorMessages"
            />
          </div>

          <p>Введіть не менше, ніж 10 символів, і не більше 400.</p>
        </div>

        <div class="flex w-full items-center">
          <app-button
            label="Надіслати"
            [additionalClasses]="'primary my-4 w-full'"
            (buttonClick)="onSubmit()"
            [isDisabled]="formGroup.invalid"
            class="w-full"
          ></app-button>
        </div>
      </div>
    </form>

    <div class="flex flex-col" *ngIf="!authService.getUserIdFromStorage()">
      <strong class="mx-3 mb-2"
        >Щоб залишити відгук потрібно увійти на сайт.</strong
      >

      <app-login [isRedirect]="false"></app-login>
    </div>

    <div
      class="flex justify-center"
      *ngIf="authService.getUserIdFromStorage() && isSendetReview"
    >
      <p>Відправлено</p>

      <div class="flex flex-col" *ngIf="isFakeSending">
        {{ fakeSending() }}

        <h5 class="text-center">Відправляємо...</h5>

        <div class="flex p-10 items-center justify-center w-full">
          <app-loader></app-loader>
        </div>
      </div>

      <div class="flex flex-col" *ngIf="!isFakeSending">
        <h5 class="text-center mb-3">Відгук відправлено.</h5>
        <div class="flex" [innerHTML]="safeSvgCodes['cat']"></div>
      </div>
    </div>
  </div>
</div>

<app-notification-modal
  [title]="modalMsg.title"
  [text]="modalMsg.text"
  [hideDelay]="5000"
></app-notification-modal>
