@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

// variables.scss
// Кольори
$primary-color: #5C8C7C;

$secondary-color: #2ecc71;
$background-color: #f0f0f0;

$text-color: #1e1e1e;

// Розміри
$base-font-size: 16px;
$heading-font-size: 24px;
$button-padding: 10px 20px;

// Carousel
.owl-dot.active {
  span {
    background-color: $primary-color !important;
  }
}

.a-primary-link {
  color: $primary-color;
}

.a-secondary-link {
  color: $text-color;
  transition: .3s;
  cursor: pointer;
  margin-right: 20px;

  font-family: Roboto Flex;
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;

  &:hover {
    color: $primary-color;
  }

  &.active {
    color: $primary-color;
  }
}

.custom-carousel-for-recomender {
  background-color: #ff0;
  position: relative;

  .nav-box {
    overflow: hidden;
    overflow-x: auto;

    .nav {
      width: 100%;
    }

    &::-webkit-scrollbar-thumb,
    &::-o-scrollbar-thumb {
      display: none;
    }
  }

  .owl-nav {
    position: absolute;
    right: 0;
    top: -87px;
    display: block;

    & [class*=owl-] {
      color: $text-color;
      font-size: 14px;
      margin: 5px;
      padding: 4px 7px;
      display: inline-block;
      cursor: pointer;
      border-radius: 3px;
      background-color: inherit;
      transition: .3s;
      opacity: .6;

      &:hover {
        background-color: inherit;
        opacity: 1;
      }

      .arrow-left {
        transform: rotate(180deg);
      }
    }
  }
}

@media (max-width: 768px) {
  .custom-carousel-for-recomender {
    .owl-nav {
      display: none;
    }
  }

  .a-secondary-link {
    font-size: 16px;
    font-weight: 560;
    line-height: 34px;
    padding: 8px 12px;
    margin-right: 0;
    border-radius: 4px;

    &:hover,
    &.active {
      background-color: $primary-color;
      color: #FAFAFA;
    }
  }
}

@media (max-width: 480px) {
  .nav-box {
    overflow: hidden;
    overflow-x: scroll;

    .nav {
      width: max-content;
    }

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }

    scrollbar-color: transparent;
  }
}

h2.component-title {
  font-family: Roboto Flex;
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0em;
  color: $text-color;
}

.component-p {
  font-family: Roboto Flex;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: $text-color;
}

@media (max-width: 768px) {
  .component-p {
    font-family: Roboto Flex;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }
}


.content-box {
  h2 {
    //styleName: Desktop/HEADING/H2;
    font-family: Roboto Flex;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color: #1e1e1e;
    margin-right: 15px;
  }

  .subtitle {
    font-family: Roboto Flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #b4b4b4;
    min-width: 200px;
  }

  span {
    font-family: Roboto Flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #1e1e1e;
  }
}

label {
  font-family: Roboto Flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1e1e;
}

.form-field {
  width: auto;
  height: 51px;
  border-radius: 4px;
  border: 1px solid #ccc;

  input {
    width: 100%;
    border: 0;
    padding: 10px 0;
    outline: none;

    &:focus {
      border: 0;
    }
  }

  img {
    cursor: pointer;
  }

  h4 {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Roboto Flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #1e1e1e;
    margin-bottom: 4px;
  }
}

* {
  font-family: Roboto Flex;
}

.error-message {
  color: red;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  hr {
    flex: 1;
    border: 1px solid #5c8c7c80;
  }

  span {
    padding: 0 10px;

    font-family: Roboto Flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

    color: #1e1e1e;
  }
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: Hug (47px);
  padding: 10px, 24px;
  border-radius: 4px;
  border: 1px;
  gap: 8px;
  border: 1px solid #5c8c7c80;

  //styleName: Desktop/BUTTON/Button Large;
  font-family: Roboto Flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #1e1e1e;
  cursor: pointer;

  img {
    width: 24px;
    height: 24px;
    margin-right: 2px;
  }
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1e1e;
  margin-bottom: 8px;
}

.box {
  margin-bottom: 20px;

  span {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 12px;
    color: #1e1e1e;
  }

  a {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #5c8c7c;
    cursor: pointer;
  }

  p {
    font-family: Roboto Flex;
    font-size: 10px;
    font-weight: 400;
    line-height: 17px;
    color: #1e1e1e;
  }
}

.a-button {
  font-family: Roboto Flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #FAFAFA;
  position: relative;
  width: fit-content;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #FAFAFA;
    transition: .3s;
  }

  &:hover:after {
    width: 100%;
  }
}
