<div class="flex flex-col md:mx-0 mx-2">
  <div class="flex flex-col xl:flex-row mb-10">
    <app-product-gallery
      [photos]="product.product_image_url"
      [alt]="product.name"
    />

    <app-product-details [product]="product" class="w-full xl:w-[45%]" />
  </div>

  <div class="grid lg:grid-cols-3 grid-cols-1 lg:gap-10 lg-0">
    <div class="flex lg:col-span-2 col-span-1">
      <app-product-info [product]="product" class="w-full"></app-product-info>
    </div>

    <div class="flex col-span-1">
      <app-product-add-review  class="w-full" ></app-product-add-review>
    </div>
  </div>

  <app-recomendet></app-recomendet>
</div>
