<!-- Desktop version -->
<div class="product-info content flex-col w-full md:flex hidden">
  <div class="header">
    <!-- Navigation links -->
    <nav>
      <a
        *ngFor="let nav of headerNavs"
        [class.hidden]="currentNav === nav.link"
        (click)="setCurrentNav(nav.link)"
        class="a-button"
      >
        {{ nav.label }}
        <span *ngIf="nav.link === 'reviews'">({{ reviews }})</span>
      </a>

      <!-- Displaying the current navigation title -->
      <ng-container *ngFor="let nav of headerNavs">
        <h2
          *ngIf="currentNav === nav.link"
          class="text-xl font-bold mb-4 w-full"
        >
          {{ nav.label }}
        </h2>
      </ng-container>
    </nav>
  </div>

  <!-- Product info pages -->
  <app-product-info-pages
    [currentNav]="currentNav"
    [product]="product"
  ></app-product-info-pages>
</div>

<!-- Mobile version -->
<div class="product-info content flex-col w-full flex md:hidden">
  <ng-container *ngFor="let nav of headerNavs; let i = index">
    <div class="flex flex-col md:w-full w-auto">
      <!-- Navigation toggle -->
      <div
        class="flex w-full justify-between mb-4 border-b-2 md:border-b-0"
        (click)="setCurrentNav(nav.link)"
      >
        <h5 class="title a-button">
          {{ nav.label }}
        </h5>
        <div
          [innerHTML]="safeSvgCodes['arrow']"
          class="mr-2 arrow-icon md:hidden block"
          [class.active]="currentNav === nav.link"
        ></div>
      </div>

      <!-- Collapsible navigation content -->
      <div
        class="nav-box flex flex-col h-0 md:h-full"
        [class.active]="currentNav === nav.link"
      >
        <app-product-info-pages
          [currentNav]="currentNav"
          [product]="product"
        ></app-product-info-pages>
      </div>
    </div>
  </ng-container>
</div>
