<header class="flex flex-col">
  <div
    class="logo-container sticky flex items-center m-auto"
    routerLink="/"
    [class.mb-28]="isFixed"
  >
    <img src="{{ imgPath + 'logo_white.svg' }}" alt="BonTex" class="logo" />
  </div>

  <div
    class="bottom-container mb- grid grid-cols-6 gap-4 pb-5"
    [class.fixed]="isFixed"
  >
    <div class="search col-span-4">
      <input
        type="text"
        name=""
        id=""
        placeholder="Я шукаю"
        class="bordered-button"
      />
      <img
        src="{{ imgPath + 'search_white.svg' }}"
        alt="search"
        class="search-button"
      />
    </div>

    <div class="contacts bordered-button flex col-span-2">
      <div class="flex items-center justify-center w-full">
        <img src="{{ imgPath + 'forum.svg' }}" alt="icon" class="mr-2" />
        <span>Графік та зв’язок</span>
      </div>
    </div>
  </div>
</header>
