<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div
      class="flex items-center justify-center overflow-hidden md:h-auto h-[260px]"
    >
      <img
        src="{{ imgPath + 'slide1.png' }}"
        alt="slide"
        class="flex md:scale-100 scale-[2.5]"
      />
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div
      class="flex items-center justify-center overflow-hidden md:h-auto h-[260px]"
    >
      <img
        src="{{ imgPath + 'slide1.png' }}"
        alt="slide"
        class="flex md:scale-100 scale-[2.5]"
      />
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div
      class="flex items-center justify-center overflow-hidden md:h-auto h-[260px]"
    >
      <img
        src="{{ imgPath + 'slide1.png' }}"
        alt="slide"
        class="flex md:scale-100 scale-[2.5]"
      />
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div
      class="flex items-center justify-center overflow-hidden md:h-auto h-[260px]"
    >
      <img
        src="{{ imgPath + 'slide1.png' }}"
        alt="slide"
        class="flex md:scale-100 scale-[2.5]"
      />
    </div>
  </ng-template>
</owl-carousel-o>
