<div class="tab-bar">
  <a class="tab-bar-button">
    <div [innerHTML]="safeSvgCode" class="tab-bar-icon"></div>
    <span>Головна</span>
  </a>

  <a class="tab-bar-button">
    <div [innerHTML]="safeSvgCode" class="tab-bar-icon"></div>
    <span>Головна</span>
  </a>

  <a class="tab-bar-button">
    <div [innerHTML]="safeSvgCode" class="tab-bar-icon"></div>
    <span>Головна</span>
  </a>

  <a class="tab-bar-button">
    <div [innerHTML]="safeSvgCode" class="tab-bar-icon"></div>
    <span>Головна</span>
  </a>
</div>
