<div class="tab-bar">
  <a class="tab-bar-button">
    <div [innerHTML]="safeSvgCodes['home']" class="tab-bar-icon"></div>
    <span>Головна</span>
  </a>

  <a class="tab-bar-button">
    <div [innerHTML]="safeSvgCodes['catalog']" class="tab-bar-icon"></div>
    <span>Головна</span>
  </a>

  <a class="tab-bar-button">
    <div [innerHTML]="" class="tab-bar-icon"></div>
    <span>Головна</span>
  </a>

  <a class="tab-bar-button">
    <div [innerHTML]="" class="tab-bar-icon"></div>
    <span>Головна</span>
  </a>
</div>
