<div class="product-details flex flex-col">
  <div class="main-details mb-10">
    <div class="flex justify-between w-full mb-2">
      <div class="flex-col">
        <h2>{{ product.name }}</h2>
      </div>

      <div class="flex flex-col items-end">
        <strong class="price">{{ product.currentPrice }} ₴</strong>

        <span class="old-price">{{ product.oldPrice }} ₴</span>
      </div>
    </div>

    <div class="flex justify-between w-full">
      <div class="flex">
        <p class="sku mr-2">Артикул: {{ product.rug_sku }}</p>
        <span class="aviability">{{
          product.isAvailable ? "В наявності" : "Немає в наявності"
        }}</span>
      </div>

      <div class="flex w-min">
        <svg
          *ngFor="let r of [1, 2, 3, 4, 5]"
          [innerHTML]="safeSvg['rug']"
          class="ml-2"
          width="24"
          height="24"
        ></svg>
      </div>
    </div>
  </div>

  <div class="sizes flex flex-col">
    <h3 class="mb-3">Розміри, см</h3>

    <div class="flex flex-wrap md:max-w-[50%]">
      <ng-container *ngFor="let size of product.sizes">
        <button
          class="size-button"
          [class.active]="options.size === size.size"
          [disabled]="!size.quantity_in_stock"
          (click)="options.size = size.size"
        >
          {{ size.size }}
        </button>
      </ng-container>
    </div>
  </div>

  <div class="interaction-buttons flex items-center mb-10 flex-col md:flex-row">
    <app-button
      label="Купити"
      additionalClasses="primary md:w-fit w-full"
      (click)="onBuy()"
      class="md:w-fit w-full mb-3 md:mb-0 mx-4 md:mx-0 "
    ></app-button>

    <app-button
      label="Швидке замовлення"
      additionalClasses="secondary md:w-fit w-full"
      (click)="onFastShipping()"
      class="md:w-fit w-full mb-3 md:mb-0 mx-4"
    ></app-button>

    <a class="add-to-fav active" (click)="onFavorite()">
      <p class="mr-3 w-fit flex md:hidden">{{isFavorite? 'Додано в обране':'Додати в обране'}}</p>
      <app-like [isActive]="isFavorite"></app-like>
    </a>
  </div>

  <div class="flex">
    <app-product-properties [product]="product"></app-product-properties>
  </div>
</div>
