<div class="flex flex-col md:my-[120px] my-10 ">
  <div class="nav-box md:mb-10 mb-3 md:ml-0 ml-2">
    <div class="nav flex">
      <a href="" class="a-secondary-link active"> Хіти продажу </a>

      <a href="" class="a-secondary-link"> Новинки </a>

      <a href="" class="a-secondary-link"> Топ акції </a>

      <a href="" class="a-secondary-link"> Ми рекомендуємо </a>
    </div>
  </div>

  <owl-carousel-o [options]="customOptions" class="custom-carousel-for-recomender">
    <ng-template carouselSlide
      ><div class="h-52 bg-slate-400">fddssd</div></ng-template
    >
    <ng-template carouselSlide>Slide 2</ng-template>
    <ng-template carouselSlide>Slide 3</ng-template>
    <ng-template carouselSlide>Slide 1</ng-template>
    <ng-template carouselSlide>Slide 2</ng-template>
    <ng-template carouselSlide>Slide 3</ng-template>
  </owl-carousel-o>
</div>
