<!-- <button (click)="logOut()">logout</button> -->

<div class="container pt-10 flex">
  <div class="nav-bar flex flex-col mr-14">
    <ng-container *ngFor="let item of navigationItems">
      <a
        (click)="setCurrentView(item.view)"
        [ngClass]="{ active: checkIsActive(item.view) }"
        [class.flex]="
          item.view === 'profile-selected' || item.view === 'profile-myReviews'
        "
        [class.items-center]="
          item.view === 'profile-selected' || item.view === 'profile-myReviews'
        "
      >
        {{ item.label }}
        <div class="notifications-counter" *ngIf="item.showCounter">
          {{ item.counter }}
        </div>
      </a>
    </ng-container>
  </div>

  <app-private-dates *ngIf="checkIsActive('private-dates')"></app-private-dates>

  <app-private-dates-editor
    *ngIf="checkIsActive('private-dates-editor')"
  ></app-private-dates-editor>
</div>
