<div class="content-box">
  <div class="flex mb-10" *ngIf="!products.length">
    <!-- If the catalog is empty -->
    <div class="flex flex-col mb-10">
      <h2 class="mb-3">Ваш список обраних товарів порожній</h2>
      <p>
        Не вагайтеся і перегляньте наш
        <a href="" class="a-primary-link">каталог</a>, щоб знайти щось гарне!
      </p>
      <div [innerHTML]="safeSvgCodes['cat']" class="mt-24"></div>
    </div>
  </div>

  <div class="flex mb-10 flex-col" *ngIf="products.length">
    <h2 class="mb-3">Ваш список обраних товарів</h2>
    <app-products [products]="products"></app-products>
  </div>
</div>
