<div class="container pt-10 flex">
  <div class="nav-bar flex flex-col mr-14">
    <div>
      <a
        routerLinkActive="active"
        routerLink="catalog-info"
        class="flex items-center"
      >
        Каталог
      </a>
    </div>

    <div>
      <a
        routerLinkActive="active"
        routerLink="delivery-and-payments"
        class="flex items-center"
      >
        Доставка та оплата
      </a>
    </div>

    <div>
      <a
        routerLinkActive="active"
        routerLink="exchange-and-returns"
        class="flex items-center"
      >
        Обмін та повернення
      </a>
    </div>
    <div>
      <a
        routerLinkActive="active"
        routerLink="about-us"
        class="flex items-center"
      >
        Про нас
      </a>
    </div>
    <div>
      <a
        routerLinkActive="active"
        routerLink="contacts"
        class="flex items-center"
      >
        Контакти
      </a>
    </div>
    <div>
      <a
        routerLinkActive="active"
        routerLink="user-agreement"
        class="flex items-center"
      >
        Угода користувача
      </a>
    </div>
    <div>
      <a routerLinkActive="active" routerLink="faq" class="flex items-center">
        Питання та відповіді
      </a>
    </div>
    <div>
      <a
        routerLinkActive="active"
        routerLink="store-reviews"
        class="flex items-center"
      >
        Відгуки про магазин
      </a>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
