<div class="content">
  <div class="box">
    <p class="mb-4">
      У нашому інтернет-магазині килимів BonTex, ми надаємо швидку та надійну доставку в усі куточки України.
    </p>
    <p class="mb-4">
      Ми працюємо з двома провідними службами доставки: Укрпошта та Нова пошта. Це дозволяє нам забезпечити нашим клієнтам максимальний комфорт і швидкість доставки.
    </p>
    <p class="mb-4">
      При оформленні замовлення ви зможете обрати зручний для вас спосіб доставки та вказати необхідні деталі. Після цього наші співробітники оперативно підготують ваше замовлення до відправлення.
    </p>
    <p class="mb-4">
      Ви також матимете можливість відстежувати стан вашого замовлення через інтернет за допомогою унікального номеру відправлення, який ви отримаєте після відправлення килима.
    </p>
    <p class="mb-4">
      Ми робимо все можливе, щоб ваші килими від BonTex дісталися до вас якнайшвидше та у відмінному стані.
    </p>
    <p class="mb-4">
      Наші менеджери завжди на зв'язку і готові відповісти на всі ваші запитання щодо доставки. Будь ласка, зв'яжіться з нами, якщо у вас виникли будь-які питання або побажання щодо доставки килима.
    </p>
  </div>
</div>
