<div class="content">
  <div class="box">
    <p class="mb-4">
      У нашому інтернет-магазині килимів BonTex, ми робимо все можливе, щоб
      кожен клієнт залишився задоволений своїм замовленням. Якщо ви не повністю
      задоволені купленим килимом, ми пропонуємо можливість
      <strong>повернення або обміну товару</strong>.
    </p>
    <p class="mb-4">
      Для здійснення повернення або обміну килима, будь ласка, дотримуйтесь
      таких умов:
    </p>
    <ul class="mb-4">
      <li>
        <strong>Термін</strong>: Зверніться до нас протягом
        <strong>14 днів</strong> з моменту отримання замовлення.
      </li>
      <li>
        <strong>Стан товару</strong>: Килим повинен бути в
        <strong>оригінальній упаковці</strong> та не має бути пошкодженнями чи
        слідами використання.
      </li>
      <li>
        <strong>Вартість доставки</strong>: Вартість доставки для повернення або
        обміну несе клієнт, за виключенням випадків обміну через дефекти виробу.
      </li>
    </ul>
    <p class="mb-4">
      Після отримання вашого поверненого килима і перевірки його стану, ми
      здійснимо повернення коштів на ваш рахунок або вам буде запропоновано
      обмін на інший товар.
    </p>
    <p class="mb-4">
      Будь ласка, звертайтеся до нашого сервісу підтримки клієнтів для отримання
      додаткової інформації та інструкцій з повернення та обміну товару.
    </p>
  </div>
</div>
